$font-stack: "lato";
$margin: 0px;
$padding: 0px;

html {
  box-sizing: border-box;
}

body {
  font: 100% $font-stack;
  margin: $margin;
  padding: $padding;
}

.blue_bar_container {
  h4 {
    margin: 0;
    color: #fff;
    letter-spacing: 0.2em;
  }
  display: flex;
  background-color: #7e99da;
  padding: 10px 0px;
  justify-content: center;
}

.dropsketo {
  margin-top: 65px;
  h2 {
    text-align: center;
    color: #4d78cc;
    font-weight: normal;
    font-size: 30px;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    img {
      margin-right: 60px;
    }
  }
  .iconp {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #142348;
    font-weight: bold;
    font-size: 18px;
    .suppres {
      margin-right: 115px;
    }
    .boost {
      margin-right: 120px;
    }

    .encou {
      margin-right: 40px;
    }
  }
}

.celestiallandscape {
  position: relative;
  width: 100%;
  color: #fff;

  img {
    width: 100%;
    height: 100%;
  }

  .titlecelestial {
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px;
    margin-top: -20px;

    .titleA {
      font-size: 38px;
      text-align: center;
      font-weight: normal;
      .boldtext {
        font-weight: bold;
      }
    }
  }
  .paragraph {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    p {
      text-align: center;
      margin-right: 90px;
      margin-left: 90px;
      line-height: 1.5;
    }
  }
}

.guaranteed {
  display: flex;
  background-color: #142348;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;

  .description90 {
    text-align: center;
    padding: 25px;
    justify-content: center;
    align-items: center;
    h3 {
      margin: 0;
      color: #fff;
      letter-spacing: 0.1em;
      font-size: 22px;
      font-weight: bold;
      margin-top: 10px;
    }
    p {
      margin: 0;
      margin-top: 0.5rem;
      font-weight: normal;
      color: #fff;
      margin-right: 50px;
      margin-left: 50px;
      font-size: 15px;
      line-height: 1.5rem;
    }
    .img90 {
      padding-top: 50px;
      margin-left: 50px;
    }
  }
}

.titleq {
  display: flex;
  text-align: center;
  justify-content: center;
  color: #4d78cc;
  font-weight: normal;
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
}
.ask {
  display: flex;
  margin-right: 250px;
  margin-left: 15px;
  margin-top: 4px;
  color: #142348;
}
.question {
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Adjust alignment as needed */
  padding-top: 10px;
  margin-bottom: 80px;
}

.question-box {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 2px solid #f0f3f5;
  border-radius: 10px;
  margin-bottom: 10px;
  height: 30px;
  width: 500px;
  margin-left: 420px;
  background-color: #f0f3f5;
}

.arrow {
  margin-left: auto;
  margin-top: -35px;
}
